$pinkhorizon: #e7b99f;
$sandsurge: #e3dacd;
$mosstide: #b0b1a1;
$marinegreen: #6c7974;

//navs
nav {
    margin: 0px;
    background-color: #6d7973;
    border: $pinkhorizon solid 5px;
}

//banner
.jumbotron {
    margin: 0px;
    border-radius: 5px;
    ;
    h1 {
        color: $pinkhorizon;
        text-decoration: underline;
        float: right;
    }
    p {
        color: white;
        clear: both;
    }
}

//logs
div.logs {
    background-color: $marinegreen;
    border-radius: 5px;
    margin: 12px;
    h1 {
        color: $pinkhorizon;
        border-radius: 5px;
        margin: 12px;
    }
    h5 {
        padding: 12px;
        padding-top: 0px;
        text-indent: 12px;
    } 
    p {
        text-indent: 12px;
        padding: 12px;
        color: white;
    }
}

// contact
div.contact {
    background-color: $marinegreen;
    border-radius: 5px;
    margin: 12px;
    color: white;
    h1 {
        text-align: center;
        color: $pinkhorizon
    }
    .col-md-4 {
        margin: 4px;
    }
    .col-md-10 {
        margin: 4px;
    }
    .btn {
        margin: 4px;
    }
}

//footer
div.footer {
    background-color: $marinegreen;
    border-radius: 5px;
    margin: 12px;
    h1{
        text-align: center;
        color: $pinkhorizon;
        border-radius: 5px;
        margin: 12px;
    }
    .socialicons {
        h3 {
            text-align: center;
            color: $pinkhorizon;
        }
        .imglinks {
            display: flex;
            justify-content: center;
        }
        img {
            width: 50px;
            height: 50px;
            margin: 4px;
        }
    }
    .copyright {
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        margin: 0px;
    }
    .jumbotron {
        margin: 0px;
        h1 {
            font-size: .75em;
        }
    }
    div.logs {
        margin: 10px;
    }
    div.contact {
        margin: 10px;
    }
    div.footer {
        margin: 10px;
    }
}

@media only screen and (max-width: 450px) {
    nav {
        margin: 0px;
    }
    .jumbotron {
        margin: 0px
        h1 {
            font-size: .5em;
        }
    }
    div.logs {
        margin: 4px;
    }
    div.contact {
        margin: 4px;
    }
    div.footer {
        margin: 4px;
    }
}